<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Tell the server to use form-based authentication. -->
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/jsp/login.jsp</form-login-page>
            <form-error-page>/jsp/loginError.jsp</form-error-page>
        </form-login-config>
    </login-config>


    <!-- Protect everything within the admin page. -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>webapp</web-resource-name>
            <url-pattern>/jsp/admin.jsp</url-pattern>
            <url-pattern>/jsp/approveBooks.jsp</url-pattern>
            <url-pattern>/jsp/booksApproved.jsp</url-pattern>
            <url-pattern>/goto-approve-books</url-pattern>
            <url-pattern>/goto-approvedbooks</url-pattern>
            <url-pattern>/jsp/deleteReviews.jsp</url-pattern>
            <url-pattern>/goto-delete-reviews</url-pattern>
            <url-pattern>/goto-reviews-deleted</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>


    <!-- Protect everything within the user page. -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>webapp</web-resource-name>
            <url-pattern>/jsp/myBookshelf.jsp</url-pattern>
            <url-pattern>/addBook.jsp</url-pattern>
            <url-pattern>/goto-my-bookshelf</url-pattern>
            <url-pattern>/jsp/addBook.jsp</url-pattern>
            <url-pattern>/jsp/bookAdded.jsp</url-pattern>
            <url-pattern>/jsp/bookAddedToWishList.jsp</url-pattern>
            <url-pattern>/jsp/getRandomBook.jsp</url-pattern>
            <url-pattern>/jsp/getRecommendedBooks.jsp</url-pattern>
            <url-pattern>/jsp/myBooks.jsp</url-pattern>
            <url-pattern>/jsp/myReadingList.jsp</url-pattern>
            <url-pattern>/jsp/randomBook.jsp</url-pattern>
            <url-pattern>/jsp/recommendedBooks.jsp</url-pattern>
            <url-pattern>/goto-my-add-book"</url-pattern>
            <url-pattern>/goto-book-changed-wishlist</url-pattern>
            <url-pattern>/goto-my-book-added"</url-pattern>
            <url-pattern>/goto-approvedbooks</url-pattern>
            <url-pattern>/goto-get-random-book</url-pattern>
            <url-pattern>/goto-get-recommended-books</url-pattern>
            <url-pattern>/goto-my-books</url-pattern>
            <url-pattern>/goto-my-reading-list</url-pattern>
            <url-pattern>/goto-random-book</url-pattern>
            <url-pattern>/goto-recommended-books</url-pattern>
            <url-pattern>/goto-approve-books</url-pattern>
            <url-pattern></url-pattern>
            <url-pattern></url-pattern>
            <url-pattern></url-pattern>
            <url-pattern></url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>regUser</role-name>

        </auth-constraint>
    </security-constraint>

</web-app>

